body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 14px;
    background: #fff;
    font-size: 20px;
    border-radius: 5px;
    z-index: 10;
}
.gameArea {
    width: 300px;
    height: 600px;
    background: #333;
    margin: 0 auto;
    position: relative;
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    overflow: hidden;
}

.line {
    width: 6px;
    height: 120px;
    background: #fff;
    position: absolute;
    left: 147px;
}

.car {
    position: absolute;
    bottom: 20px;
    left: 125px;
    width: 50px;
    height: 95px;

    background: linear-gradient(to bottom, #ff3b3b, #b10000);
    border-radius: 10px 10px 6px 6px;
    border: 2px solid #700000;
    box-shadow: 0 0 15px rgba(255, 40, 40, 0.7);
}

.car::before,
.enemy::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 8px;
    width: 34px;
    height: 22px;
    background: linear-gradient(to bottom right, #d9f0ff, #6ca3c9);
    border-radius: 3px;
    border: 1px solid #163443;
}

.car::after,
.enemy::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 8px;
    width: 34px;
    height: 20px;
    background: linear-gradient(to bottom right, #d9f0ff, #6ca3c9);
    border-radius: 3px;
    border: 1px solid #163443;
}

.enemy {
    position: absolute;
    width: 50px;
    height: 95px;
    background: linear-gradient(to bottom, #ffe14d, #b89000);
    border-radius: 10px 10px 6px 6px;
    border: 2px solid #7a6500;
}

.wheel {
    position: absolute;
    width: 12px;
    height: 24px;
    background: #111;
    border-radius: 3px;
    border: 2px solid #444;
}


.left { left: -6px; }
.right { right: -6px; }
.front { top: 18px; }
.back { bottom: 18px; }
