* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ff0000;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.gameArea {
    width: 300px;
    height: 100vh;
    background: #2d2d2d;
    margin: auto;
    position: relative;
    border-left: 4px dashed white;
    border-right: 4px dashed white;
    overflow: hidden;
}

.car {
    width: 50px;
    height: 80px;
    background: red;
    position: absolute;
    bottom: 20px;
    left: 125px;
    border-radius: 6px;
}

.enemy {
    width: 50px;
    height: 80px;
    background: yellow;
    position: absolute;
    border-radius: 6px;
}

.score {
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 22px;
}

.controls {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px; 
}

.controls button {
    padding: 20px 30px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background: #444;
    color: white;
}
.footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: left;
    color: white;
    font-size: 18px;
    opacity: 0.7;
}
